.grid-message-example {
  --grid-heigth: 400px;
  height: 100%;
  width: 100%;
}

.grid-message-example .grid-root {
  position: relative;
  height: var(--grid-heigth);
  width: 100%;
}

.grid-message-example .grid,
.grid-message-example .warning {
  height: var(--grid-heigth);
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.grid-message-example .warning {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.grid-message-example .warning.hidden {
  display: none;
}
