:host([theme~="cookbook"]) .vaadin-checkbox-container {
  display: flex;
}
:host([theme~="cookbook"]) ::slotted(label:not([empty])) {
  flex: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 0;
}
