:host([theme~="vcom"]) {
  --lumo-font-family: var(--font-main), Verdana, sans‑serif;
}

:host([theme~="vcom"].form-field) {
  margin-bottom: 0 !important;
}

:host([theme~="vcom"]) [part="input-field"] {
  height: var(--field-height);
  font-family: var(--font-main), Verdana, sans‑serif;
  font-size: 1rem;
  line-height: 1.1;
  background: var(--field-background-color);
  border: 1px solid var(--field-border-color);
  color: var(--field-value-color);
  padding: var(--space-xs);
  border-radius: var(--roundness-sm);
  transition: all 0.2s ease-in;
}

:host([theme~="vcom"]) [part="input-field"]::after {
  display: none;
}

:host([theme~="vcom"]) [part="input-field"]:hover {
  background-color: var(--field-background-color-hover);
  border-color: var(--field-border-color-hover);
}

:host([theme~="vcom"][focused]) [part="input-field"] {
  border-color: var(--field-border-color-active);
  box-shadow: var(--elevation-sm);
}
