[part~="month-cell"] {
  font-weight: 500;
}

[part~="month-cell"][part~="winter-cell"] {
  color: blue;
}
[part~="month-cell"][part~="spring-cell"] {
  color: green;
}
[part~="month-cell"][part~="summer-cell"] {
  color: #eeba11;
}
[part~="month-cell"][part~="fall-cell"] {
  color: brown;
}

[part~="toomuch-cell"] {
  color: red;
}
