vaadin-dialog-overlay[theme~="scrollable-dialog"]
  > flow-component-renderer
  > div {
  display: flex !important;
  flex-direction: column;
}

vaadin-dialog-overlay[theme~="scrollable-dialog"] header {
  box-shadow: inset 0 -1px 0 0 var(--lumo-contrast-10pct);
  padding: var(--lumo-space-m) var(--lumo-space-l);
}

vaadin-dialog-overlay[theme~="scrollable-dialog"] h2 {
  margin: 0;
}

vaadin-dialog-overlay[theme~="scrollable-dialog"] .scrollable-dialog-content {
  overflow: auto;
}

vaadin-dialog-overlay[theme~="scrollable-dialog"] section {
  display: flex;
  flex-direction: column;
  padding: var(--lumo-space-l);
}

vaadin-dialog-overlay[theme~="scrollable-dialog"] h3 {
  margin: 0 0 var(--lumo-space-s) 0;
}

vaadin-dialog-overlay[theme~="scrollable-dialog"] footer {
  background-color: var(--lumo-contrast-5pct);
  padding: var(--lumo-space-s) var(--lumo-space-l);
  text-align: right;
}

vaadin-dialog-overlay[theme~="scrollable-dialog"]
  footer
  vaadin-button:not(:last-child) {
  margin-right: var(--lumo-space-m);
}
