[theme~="custom-item-background"] span.bad:hover,
[theme~="custom-item-background"][selected] span.bad {
  background-color: coral;
}

[theme~="custom-item-background"] span.good:hover,
[theme~="custom-item-background"][selected] span.good {
  background-color: lightgreen;
}

[theme~="custom-item-background"] span {
  width: 100%;
  height: 100%;
  display: inline-block;
  padding: 1em;
}

[theme~="custom-item-background"] {
  padding: 0;
}

[theme~="custom-item-background"]::before {
  display: none;
}
