.file-div {
  height: 220px;
  width: 150px;
  border: 1px solid darkblue;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.delete-button {
  cursor: pointer;
  width: 1em;
}

.drop-area {
  border: 1px dashed darkgray;
  border-radius: 4px;
}
