#master-detail-view {
  display: block;
  height: 100%;
  flex-direction: column;
}

:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#editor-layout {
  padding: var(--lumo-space-l);
  width: 400px;
}

#button-layout {
  width: 100%;
  flex-wrap: wrap-reverse;
  justify-content: flex-end;
}

#master-detail-view #wrapper {
  flex-grow: 1;
}

.grid-wrapper {
  flex-grow: 1;
  width: 100%;
}

.full-size {
  width: 100%;
  height: 100%;
}

.gridTable__column {
  width: 50px;
  flex-grow: 0;
}
